@media only screen and (max-width: 800px) {
    
   h1{
       font-size: 1.8rem;
   }
   h2{
    font-size: 1.5rem;
}
.hero_section{
    background-image: url('./assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    padding: 0.4rem 2rem;
  
}
.mouse_click{
    margin-top:12rem;
    margin-bottom: 4rem;
    animation: updown forwards;
    animation-duration: 100s;
    

}
.hero-desc{
    font-size: 1.2rem;
}
p{
    font-size: 0.95rem;
}
.p-toggle{
    font-size: 0.9rem;
}
.hero_section_text{
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    padding-top: 3rem;
    
}
.wwd_area {
    display:grid;
    grid-template-columns:100%;
    column-gap:4rem;
    row-gap: 2rem;
    padding: 1rem;
    /* justify-content:space-evenly; */
}
.portfolio_section{
    /* text-align: center;
     */
     display: flex;
     flex-direction: column;
     justify-content: center;
    padding-left:1%;
    padding-top:3rem;
    /* display:flex; */
    /* justify-content: center; */
}
.portfolio_cards{
    display:grid;
    grid-template-columns: 48% 48%;
    /* grid-template-rows: 15% 15%  */
    /* column-gap:1rem; */
    column-gap: 0.5rem;
    row-gap: 1rem;
    
   
}
.contact_us_section{
    height: 100%;
    padding:2rem 1rem
}
.input_field{
    width:90%;
    height:2.2rem;
    background: transparent;
    color:white;
    border:1px solid rgb(0, 0, 0);
    margin:0 1rem;
    padding-left:1rem;
}
.input-1{
    display: grid;
    grid-template-columns:;
    row-gap: 1rem;
    margin-left: 1rem;
}
.text-area{
    width:85.4%;
    background: transparent;
    color:white;
    border:1.8px solid rgb(231, 229, 229);
    margin:1.3rem;
    /* padding-left:1rem; */
    height:13rem;
}
  }
  @keyframes updown{
      0%{
        margin-top:12rem;
        margin-bottom: 4rem;
      }
      100%{
        margin-top:13rem;
        /* margin-bottom: 4rem; */
      }
  }