
p{
    font-size: 1.3rem;
}
h5{
    font-size: 1.7rem;
    font-weight: bold;
}
.hero_section{
    background-image: url('./assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height:90vh;
  
}
.hero_section_text{
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    padding-top: 5rem;;
}
.mouse_click{
    margin-top:20rem;
}
.mouse_click_icon{
    text-align: center;
}
.services_section{
    background: url('./assets/backgrounds/s_image.jpg');
    height:45vh;
}
.what_we_do{
    padding:3rem 0;
}
.wwd_area {
    display:grid;
    grid-template-columns: 30% 30% 30%;
    column-gap:4rem;
    /* justify-content:space-evenly; */
}

.wwd_header{
    /* margin-right: 1.42rem; */
}
.p-toggle{
    font-size: 1.2rem;
    max-width: 30rem;
    display:none;
    transition: all;
    transition-duration: 5s;
}
.p-toggle-show{
    font-size: 1.2rem;
    max-width: 25rem;
    display:block;
    max-width: 37rem;
    transition: all;
    transition-duration: 0.5s;

}
.portfolio_section{
    /* text-align: center;
     */
     display: flex;
     flex-direction: column;
     justify-content: center;
    padding-left:17%;
    padding-top:3rem;
    /* display:flex; */
    /* justify-content: center; */
}
.portfolio_cards{
    display:grid;
    grid-template-columns: 19% 19% 19% 19%;
    /* grid-template-rows: 15% 15%  */
    /* column-gap:1rem; */
    column-gap: 0.7rem;
    row-gap: 1rem;
    
   
}
.portfolio_card{
    position: relative;
}
.portfolio_card_image{
    width:100%;

}
.portfolio_header{
    margin-left:35%;
}
.overlay{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.616);
    padding-top:5.9rem;
    font-style: italic;
    font-size: 2rem;
    display:none;
}
.overlay:hover{
    cursor: pointer;
}
.contact_us_section{
    background: url('./assets/backgrounds/c_image.jpg');
    height:100%;
    margin-top:5rem;
    padding: 2rem 1rem;
}
::placeholder{
    color:white;
}
.input_field{
    width:27%;
    height:2.2rem;
    background: transparent;
    color:white;
    border:1px solid white;
    margin:0 1rem;
    padding-left:1rem;
}
.text-area{
    width:56.4%;
    background: transparent;
    color:white;
    border:1.8px solid rgb(231, 229, 229);
    margin:1.3rem;
    /* padding-left:1rem; */
    height:13rem;
}
.media-icons{ 
    margin: 0 0.5rem;
 }
 .social_media_links{
     margin: 1.6rem 0;
 }
.popup-show{
    position:fixed;
    top:25%;
    left:35%;
    width:30rem;
    height:20rem;
    background-color: rgb(119, 119, 119);
}
.popup-hide{
    position:fixed;
    display:none;
    top:25%;
    left:35%;
    width:30rem;
    height:20rem;
    background-color: rgb(119, 119, 119);
}